.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;

  margin: 0;
  padding: 0;

  order: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(4px + 68 * (100vw / 768));
    line-height: calc(6px + 70 *(100vw / 768));
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
