.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;

  margin: 0;
  padding: 0;

  order: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: calc(72 * (100vw / 1024));
    line-height: calc(76 *(100vw / 1024));
  }
}


@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(25px + 17 * (100vw / 768));
    line-height: calc(27px + 19 * (100vw/768));
  }
}

@media screen and (max-width: 640px) {
  .place__title {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}

