.places {
    max-width: 984px;

    width: 100%;
    box-sizing: border-box;

    padding: 0 3%;
    margin: 0 auto;

    display: grid;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    
}