.content {
    max-width: 1280px;
    width: 100%;

    display: grid;
    gap: 92px;
    
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .content {
        gap: 9vw;
    }
}

@media screen and (max-width: 640px) {
    .content {
        gap: 64px;
    }
}
