.place__text {
  order: 3;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .place__text {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}
