.footer__link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    transition: opacity 0.25s ease-in-out;

    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.8;
}