.intro {
  max-width: 984px;

  width: 100%;

  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}


@media screen and (max-width: 640px) {
  .intro {
    width: calc(100% - 32px);
  }
}
