.footer {
    width: 100%;

    border: 1px solid red;

    margin: 92px auto 24px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    .footer {
        display: grid;
        grid-auto-flow: row;
        row-gap: 48px;
    }
}

