.footer {
    width: calc(100% - 96px);

    margin: 92px auto 24px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        margin-top: 88px;
    }
}


@media screen and (max-width: 640px) {
    .footer {
        width: calc(100% - 32px);
        margin-top: 64px;
        display: grid;
        grid-auto-flow: row;
        row-gap: 48px;
    }
}

