.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;

  padding: 0;
  margin: 0;
}


@media screen and (max-width: 320px) {
  .place__url-heading {
      display: none;
  }
}