.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
      font-size: calc(16px + 38 * (100vw / 768));
      line-height: calc(19px + 39 * (100vw / 768));
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
